a{
    text-decoration: none;
}

.net-button{
    background-color: #bf3e31;
    border-color: #bf3e31;
    color: #fff;
}

.net-button:hover{
    border-color: #bf3e31;
}

.link-light{
    color: #ed2679!important;
}

.card-header{
    background-color: #dbdbdb!important;
}

.card, .list-group-item, .navbar{
    background-color: #eee!important;
}

#logo{
    position: absolute;
    top: -23px;
    z-index: 100;
}

#secondBar{
        height: auto;
    }

#menuNav .nav-item{
    border: solid 1px #bbb;
}

@media screen and (min-width: 320px){
    #secondBar{
        height: 68px;
    }
}

@media screen and (min-width: 1000px){
    #menuNav .nav-item{
        border: none;
    }
}

@media screen and (max-width: 1000px){
    #menuNav{
        z-index: 99;
        background-color: #f8f9fa;
    }
}
