body{
    background-image: url('../img/pcruz-logo-fade-01.svg');
    background-color: #FAFCFC;
    background-attachment: fixed;
    background-size: 4.75%;
    background-repeat: repeat;
    margin: 0 auto;
}

 h1, h2, h4{
    font-family: 'Manrope', sans-serif;
    color:#0C0B51;
 }


 h1{
   font-size: 48px;
   font-weight:900;
   margin-block-start: 0.2em!important;
   margin-block-end: 0.2em!important;
   line-height: 1.1em;
 }

 h2{
   font-size: 32px;
   margin-block-start: 0.2em!important;
 }


 h4{
   font-size: 18px;
   color: #FFF8F3!important;
 }

 p,a{
    font-family: 'Rubik', sans-serif;
 }

p{
   text-align: center;
}

 a
 {color: #1151F3;
}
a:hover{
   color: tomato;
}


ul{
   margin-block-end: 0!important;
}

li{
   margin: 0px 3px;
}

footer{
   background-color: #0C0B51;
   padding: 0.5em;
}

.contenedor h4{
   text-align: center;
   margin: 0 auto;
}

.row{
   display: flex;
   align-items: center;
   margin: 32.2vh 28vw;
   justify-content: center;
   background-color: #FFFFFF;
   box-shadow: #7c7c7c 0px 4px 8px;
   border: solid 0px;
   border-radius: 5px;
 }

.row div{
   margin-bottom: -4px;
}

 #logo{
    width: 100%;
 }



 #lista-hor ul{
   display: flex;
   list-style: none;
 }


 #contenedor-linea{
   padding: 0em 3em 1em;
 }


 @media screen and (max-width: 1600px){
   .row{
      margin: 32.2vh 21vw; 
   }
 }

 @media screen and (max-width: 1366px){
   .row{
      margin: 32.2vh 17vw; 
   }
 }

 @media screen and (max-width: 1280px){
   .row{
      margin: 32.2vh 15vw; 
   }
 }

 @media screen and (max-width: 1024px){
   .row{
      margin: 32.2vh 13vw; 
   }
 }

 @media screen and (max-width: 900px){
   .row{
      margin: 32.2vh 11vw; 
   }
 }

 @media screen and (max-width: 768px){
   .row{
      margin: 32.2vh 10vw; 
      flex-direction: column;
   }

   #lista-hor ul{
      padding-inline-start: 0px!important;
   }
 }