body{
    background-image: url('../img/pcruz-logo-fade-01.svg');
    background-color: #FAFCFC;
    background-attachment: fixed;
    background-size: 4.75%;
    background-repeat: repeat;
    margin: 0 auto;
}

 h1, h2, h4{
    font-family: 'Manrope', sans-serif;
    color:#0C0B51;
 }


 h1{
   font-size: 48px;
   font-weight:900;
   margin-block-start: 0.2em!important;
   margin-block-end: 0.2em!important;
   line-height: 1.1em;
 }

 h2{
   font-size: 32px;
   margin-block-start: 0.2em!important;
 }


 h4{
   font-size: 18px;
   color: #FFF8F3!important;
 }

 p,a{
    font-family: 'Rubik', sans-serif;
 }

p{
   text-align: center;
}

 a
 {color: #1151F3;
}
a:hover{
   color: tomato;
}


ul{
   margin-block-end: 0!important;
}

li{
   margin: 0px 3px;
}

footer{
   background-color: #0C0B51;
   padding: 0.5em 0em;
   position: absolute;
   bottom: 0;
   width: -webkit-fill-available;
   width: 100%; /* Para navegadores que no usan chromium*/
}

.contenedor h4{
   text-align: center;
   margin: 0 auto;
}

.box{
   align-items: center;
   justify-content: center;
   background-color: #FFFFFF;
   box-shadow: #7c7c7c 0px 4px 8px;
   border: solid 0px;
   border-radius: 5px;
   margin-top: 30vh;
 }

.row div{
   margin-bottom: -4px;
}

 #logo{
    width: 100%;
    border-radius:4px 0px 0px 4px;
 }



 #lista-hor ul{
   display: flex;
   list-style: none;
 }


#lista-hor span{
   width: 1%;
}

 #contenedor-linea{
   padding: 0em 4em 1em 2.5em;
 }



@media screen and (max-width: 1400px) {
   #logo{
      object-fit: cover;
      height: 280px;
   }
}

 @media screen and (max-width: 992px){
   #contenedor-linea{
      padding: 0em 1em 1em 1em;
    }

    #lista-hor ul{
      padding-inline-start: 0px!important;
   }
 }

 @media screen and (max-width: 768px){
   
   main{
      width: 80%!important;
   }

   h1{
      font-size: 38px;
      margin-block-start: 0.7em!important;
      margin-block-end: 0.35em!important;
   }

   h2{
      font-size: 16px;
      margin-block-start: 0.2!important;
   }
   .row{
      flex-direction: column;
   }

   .box{
      margin-top: 9vh;
   }

   #logo{
      object-fit: cover;
      height: 100%;
   }
 }